body {
    background-image: url("https://wallpaperaccess.com/full/2510630.png");
    background-size:cover;
    font-family:'Raleway', sans-serif;
    
    }
    
    h1 {
        color: #1791af;
    
    }
    
    img {
        float: left;
        max-height: 300px;
        max-width: 300px;
    }
    
    p{
        font-size: small;
        color:#074952;

        font-family:'Quicksand', sans-serif;
        }
    
    fixed-bottom {
        color:#074952;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }